body, html{
	padding:0px;
	margin:0px;
}
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 12px;
}
.column{
	float: left;
    width: 33.33%;
    height:1080px; 
}
.columnh{
	text-align:center;
}
#column1{
	 background-image: url("widereceiver3.jpg")
	
	 
}
#column2{
	 background-image: url("quarterback3.jpg")
 }
 #column3{
 	 background-image: url("linebacker3.jpg")
 }
 .marg{
	 margin:0;
 }
.row{
	top:0px;
	left:0px;
	width:100%;
	text-align:center;
	font-size: 32px;
	font-family: Arial black;
	color:green;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.rowh{
	background-color: blue;
	padding:;
}
.row:after {
  content: "";
  display: table;
  clear: both;
* {
    box-sizing: border-box;
  }
