body, html{
	padding:0px;
	margin:0px;
}
.column{
	float: left;
    width: 33.33%;
    height: 100%; 
}
.row{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	text-align:center;
	font-size: 32px;
	font-family: Arial black;
	color:blue;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.row:after {
  content: "";
  display: table;
  clear: both;
* {
    box-sizing: border-box;
  }
